<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/img/foto.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.whatsapp -%}
				<a href="https://t.me/{{ site.plainwhite.social_links.telegram }}"><li><i class="icon-telegram"></i></li></a>
                {%- endif -%}
           {%- if site.plainwhite.social_links.telegram -%}
				<a href="https://wa.me/{{ site.plainwhite.social_links.whatsapp }}"><li><i class="icon-whatsapp"></i></li></a>
                {%- endif -%}
			</ul>
			<p>&copy; 2021</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
